# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages
- Python
- R
- Julia
- SQL

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools

| Category          | Tools              |
|-------------------|--------------------|
| Data Wrangling    | Pandas, dplyr      |
| Data Visualization| Matplotlib, Seaborn|
| Machine Learning  | Scikit-learn, TensorFlow, PyTorch |
| Database          | SQL                |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
result_expression_8 = (3 * 4) + 5
result_expression_8  # Expected output: 17

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours  # Expected output: 3.3333333333333335

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Explore essential data science libraries.
- Understand common tools used in data science.
- Practice basic arithmetic expressions and conversions.

## Author
Kanwaljeet Kaur Bhalla